@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");



@tailwind base;
@tailwind components;
@tailwind utilities;


/* * {
  margin: 0;
  padding: 0;
  color-scheme: dark;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;

  background-color: theme("colors.background")
} */

* {
  color-scheme: dark;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: theme("colors.background");
  margin:0;
  padding: 0;
}

.codeblock {
  @apply bg-gray-900 border border-gray-300 border-l-orange-500 border-l-4 text-white break-inside-avoid font-mono text-base leading-6 mb-6 max-w-full overflow-auto py-4 px-6 block break-words;
}

.codeblock-edit {
  @apply bg-gray-900 border border-gray-300 border-l-blue-500 border-l-4 text-white break-inside-avoid font-mono text-base leading-6 mb-6 max-w-full overflow-auto py-4 px-6 block break-words;
}


