/* .signup{
    background-color: rgb(250, 250, 250);
    display: grid;
    place-items: center;
    background-size: cover;
    height: 100%;
    background-position: center;
    
  }
  .tag_line{
    color: #07502d;
    font-size: 15px;
    /* font-weight: ; */
    /* margin-bottom: 60px; *
  }
  .signup__form{
      display: flex;
      flex-direction: column;
      /* max-width: 350px; max-width to prevent form from being too wide on large screens *
      width: 100%; /* make form take up full width on small screens *
      height: 100%;
      margin: 0 auto; /* center form on page *
  }
  
  .signup__box{
      padding: 25px;
      border: 1px solid lightgray;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  
.signup__img{
    object-fit: contain;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    padding: inherit;
    margin-bottom: 20px;
}

.signup__box > button{
    margin-top: 20px;
    text-transform: inherit !important;
    padding: 15px 50px;
    outline-width: 0;
    background-color: #07502d;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
}

.signup__box > button:hover{
    background-color: #07502d ;
    opacity: 0.8;
}

.signup__box > input{
    width: 250px;
    padding: 3px 10px;
    /* border-radius: 5px; *
    margin-bottom: 10px;
    /* outline-width: 0; *
    border-bottom: 1px solid #07502d;
    background-color: white;
}

.signup__box2{
    padding:20px 35px;
    margin-top: 10px;
    border:1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup__link{
    text-decoration: none !important;
}

.app_name{
    color: #07502d;
    font-size: 30px;
    font-weight: bold;
    /* margin-bottom: 60px; *
}

.signup__box2 > h6{
  color: #07502d !important;
}

@media all and (min-width: 600px) {
    /* .signup {
      padding: 60px 0;
    } */
  
    /* .signup__form {
      margin: 0 auto;
      max-width: 320px;
    } *
  } */